*{
  
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  }
  nav{z-index: 1;}
  .menu{
  
    position: fixed; 
    height: 60px;
     width: 100%;
    background-color: #042331;
    padding-right: 10%;
    padding-left: 10%;
     top: 0;
   }
   #rmenu{
     float: right;
   }
  .menu #logo{
      height: 30px;
      padding: 15px 30px;
      float: left;
      line-height: 30px;
      font-size: 1.4em;
      list-style-type: none;
      
  }
  .menu > ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
  
    }
    .menu > ul > li {
        float: left;
        
    } 
    .menu-item {
        display:inline-block;
        padding: 15px 20px  ;
        height: 60px;
        line-height: 30px;
        text-decoration: none;
        color:white ;
       }
       .logo1{
         color: #8dd1cf;
         text-decoration: none;
         font-family: fantasy;
         font-style: italic;
         letter-spacing: 2px;
       }
       .menu-item:hover{
  background-color: #173846;
  color: #42dbd6;
       }
       .content{
        max-height:0 ;
         position: absolute;
        top:60px ;
        overflow: hidden;
        background-color: #042331;
        box-shadow: 0 20px 50px rgb(23, 32, 90);
        margin-right: 20px;
       }
       .menu ul li:hover .content {
        max-height: 600px;
        }
       .content a{
        color: white ;
        text-decoration: none;
       }
       .drop{
       padding: 0;
       }
       .drop ul{
         width: 100%;
         padding: 0;
         margin: 0;
         list-style-type: none;
       }
       .drop ul li a {
         display: inline-block;
         padding: 10px 20px;
       }
       .drop ul li:hover {
        background-color: #173846;
        color: #42dbd6;
       }
       .menu ul li:hover .content{
        overflow: visible;
        
       }
     
       .drop ul li:hover .drop-item{
        background-color: #173846;
        color: #42dbd6;
        
       }
       #menuex li:hover .menuex-item{
        background-color: #173846;
        color: #42dbd6;
        
       }
       ul#menuex {
        position: absolute;
        overflow: hidden;
        max-height: 0;
        top: 114px;
        right: 280px;
        background-color: #042331;
        box-shadow: 0 20px 50px rgb(23, 32, 90);
    }
    .drop ul li:hover > ul#menuex{
      max-height:400px ;
    }
    #active {
      color: #42dbd6;
    }
  
  .background{
      background-image: url("https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fsante.2Fsante-pratique.2Fcomment-calculer-facilement-son-imc-48618.2F14911055-1-fre-FR.2Fimc-comment-calculer-son-indice-de-masse-corporelle.2Ejpg/1200x600/quality/80/crop-from/center/imc-comment-calculer-son-indice-de-masse-corporelle.jpeg");
      background-position: center;
      height: 700px;
      margin-top:60px;  
      background-size: cover;
  }
  .animation form{
    position: absolute;
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.animation  {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-200%, -70%);
    width: 330px;
    height: 330px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .animation::before{
    content: '';
    position:absolute;
    top:0;
    left: -100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .animation:hover:before{
    left:-40%;
    transform: skewX(-5deg);
  }
  .animation span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    display: block;
    box-sizing: border-box;
    
  }
  .animation span:nth-child(1)
{
  transform:rotate(0deg);
}

.animation span:nth-child(2)
{
  transform:rotate(90deg);
}

.animation span:nth-child(3)
{
  transform:rotate(180deg);
}

.animation span:nth-child(4)
{
  transform:rotate(270deg);
}

.animation span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfda;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 
.title_form{
    text-align: center;
    color:#42dbd6 ;
  }
  form{
    padding: 20px;
    padding-top:0 ;
    
  }
  main{
    width: 70%;
    text-align: left;
    padding: 20px ;
    margin:20px;
  }
  main p {
    padding: 15px 0;
    color: #636363;
    line-height: 1.5em;
  }
  main li{
    padding: 0;
    color: #636363;
    line-height: 1.5em;
  }
  .formule{
    background-color: rgb(219, 219, 219);
    padding: 20px;
    width: 60%;
  }
  main h2{
      padding : 20px 0;
  }
  main h1{
    padding : 20px 0;
}
main h3{
    padding: 20px;
}
.rightimg{
    width:500px;
    float: right;
    text-align: center;
    height: 350px;
    padding: 20px;
}
footer{
  padding: 20px;
 padding-right: 25%;
 padding-left: 25%;
  background-color: black;
  width: 100%;
  height:300px;
  color:  #a0a0a0;
 
}
.footer h4{
  
  text-align: center;
}
.footer p{
  text-align: center;
}
.leftfooter{
  float: left;
   font-size: 1.2em;
   padding: 30px;
}
.leftfooter i{
  font-size: 50px;
  color:  #757575;
  padding: 2px;
}
.rightfooter {
  font-size: 1.2em;
  float: right;
  list-style-type:none ;
  padding:30px;
 
}
.rightfooter a{
padding: 5px;
  color:  #757575;
}
footer a:hover,footer i:hover{
  color: #9b9b9b;
}